@charset "utf-8";

/*
Projet  : Starter CSS
Author  : Angélique Gautheron
Version : 1.0
Date    : 14/10/2018
*/

/*---------------------------------------------*/
/* GLOBAL*/
/*---------------------------------------------*/

html {
	box-sizing:border-box;
	height: 100%;
	font-size: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}


body {
	position: relative;
	height: 100%;
	font-family: 'Karla', sans-serif;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.625em; /*26px*/
	background: #fff;
	-webkit-font-smoothing: antialiased;
}


/* Typographie*/
/*---------------------------*/
h1, h2, h3, h4, h5, h6  {
	font-family: 'Karla', sans-serif;
	margin: 0 0 0.71875em 0;
	line-height: 1.3em;
}

a {
	text-decoration: none;
}

/* helper*/
/*---------------------------*/

.txt-center {
	text-align: center;
}

/*
m = margin
a, t, b = all, top, bottom
n, s, m, l = none, small, medium, large
*/


.mrs {
	margin-right: 30px !important;
}


.mrm {
	margin-right: 60px !important;
}

.mrl {
	margin-right: 100px !important;
}


.mls {
	margin-left: 30px !important;
}


.mlm {
	margin-left: 60px !important;
}


.mll {
	margin-left: 100px !important;
}


.mbs {
	margin-bottom: 15px !important;
}
.mbm {
	margin-bottom: 20px !important;
}
.mbl {
	margin-bottom: 60px !important;
}



.mts {
	margin-top: 20px !important;
}
.mtm {
	margin-top: 40px !important;
}
.mtl {
	margin-top: 60px !important;
}

.mtxl {
	margin-top: 100px !important;
}


.ptm {
	padding-top: 50px !important;
}

.pbm {
	padding-bottom: 30px !important;
}



	/* CODE CLEAN*/
	/*----------------------------------------------------------------------------------------------------------------------------------*/

.top_head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#totop { display: flex;
    justify-content: flex-end;
    margin-right: 3em;
    margin-top: 3em;
}

	@media (min-width: 769px) {

	#totop { display: flex;
    justify-content: flex-end;
    margin-right: 5em;
     margin-top: 5em;
	}
}


header { 
	margin-left: 40px;
	margin-top: 40px;
}

.logo a:hover {
	opacity: 0.75;
	transform: scale(0.85);
}

/* MENU*/
	/*---------------------------*/


	.js .btn-menu {
		position: absolute;
		top: 30px;
		right: 10px;
		width: 45px;
		height: 45px;
		background: url('../img/menu.svg') no-repeat;
	}

	.menu-collapse { 
		position: absolute;
		right: 0px;
		top: 0px;
		opacity: 1;
		width: 100vw;
		background-color: #ecf0f1;
		height: 500px !important;
	}

	.menu {
	height: 0;
	opacity: 0;
	overflow: hidden;
	}

	.menu ul { 
		margin-top: 50px;
		margin-right: auto;
		margin-left: auto;
	}

	.menu-collapse {
	height: auto;
	opacity: 1;
	}

	.menu li {
	display: block;
	margin-right: 15px;
	}

	.menu a {
	font-family: 'Karla', sans-serif;
	display: block;
	padding: 0.8em 0;
	color: black;
	font-size: 1.2em;
	text-decoration: none;
}


@media (min-width: 769px) {
	.menu {
		height: auto;
		opacity: 1;
	}

	.menu ul {
		text-align: inherit;
	}
	.menu li {
		display: inline-block;
	}
	
	.menu a {	
		padding: 0.5em 1em;
	}

	.menu a:active, .menu a:hover {
		border-bottom: 1px solid black;
	}

	.menu .select {
	color: #e84393;
	font-weight: bold;
}

	.js .btn-menu {
		display: none;
	}
}


nav {
	display: flex; 
	justify-content: flex-end;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

.wf {
	box-shadow: 0px 3px 15px -6px grey;
}


video, audio {
	max-width: 600px;
	width: 100%;
}

.dispo_3_pictures { 
	display: flex;

}


article {
	margin-top: 20px;
}

	@media (min-width: 769px) {
	article {
	margin-top: 40px;
	}
}


.fa {
    text-decoration: none;
    color: black;
}

.arrow-to-top {
	font-size: 30px;
}


@media (min-width: 769px) { .arrow-to-top {
	font-size: 50px;
	}
}


/* Buttons*/
/*---------------------------*/

.btn-1 {
	display: inline-block;
	color: #130f40;
	border: 1px solid #130f40;
	border-radius: 20px;
	padding: 0 1.5em;
	line-height: 2.5em;
	white-space: nowrap;
	/*-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;*/
}


.btn-2 {
	display: inline-block;
	color: white;
	border: 1px solid #130f40;
	background-color: #130f40;
	border-radius: 20px;
	padding: 0 1.5em;
	line-height: 2.5em;
	white-space: nowrap;
	/*-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;*/
}


.btn-1:hover, .btn-2:hover {
	color: #fff;
	background-color: #e84393;
	border: #e84393;
}


.cover-txt { 
	font-size: 1.5em;
	font-family: 'Karla', sans-serif;
	color : #263238;
	}


	.illus {
		width: 270px;
			
	}

	@media (min-width: 769px) {
		.illus {
		width: 430px;	
	}
}



	h1 {
	font-size: 1.7em;
	font-family: 'Open Sans', sans-serif;
	color: #D285A8;
	font-weight: 300;
	}

	@media (min-width: 769px) {

		h1 {
		font-size: 2.8em;
		font-family: 'Open Sans', sans-serif;
		color: #D285A8;
		font-weight: 300;
	}
}

	h2 {
	font-size: 1.3em;
	font-family: 'Karla', sans-serif;
	color: #2c3e50;
	}


	@media (min-width: 769px) {
		h2 {
			font-size: 2.3em;
			font-family: 'Karla', sans-serif;
			color: #2c3e50;
	}
}


	h3 {
	font-size: 1.1em;
	font-weight: lighter;
	font-family: 'Karla', sans-serif;
	color: #2c3e50;
	}

	@media (min-width: 769px) {

		h3 {
		font-size: 1.8em;
		font-weight: lighter;
		font-family: 'Karla', sans-serif;
		color: #2c3e50;
	}
}


	h4 {
		font-size: 0.9em;
		font-family: 'Karla', sans-serif;
		color: #1E749F;
	}

	@media (min-width: 769px) {

	h4 {
	font-size: 1em;
	font-family: 'Karla', sans-serif;
	color: #1E749F;
	}
}


	h5 {
	font-size: 0.7em;
	font-family: 'Karla', sans-serif;
	color: #2c3e50;}


	@media (min-width: 769px) {
	h5 {
	font-size: 0.9em;
	font-family: 'Karla', sans-serif;
	color: #2c3e50;
	}		
}

	.tag {
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: bold;
		color : #00b894
	}


	.tag_rose {
		font-family: 'Roboto', sans-serif;
		font-size: 0.9em;
		color : #D285A8;
		text-transform: uppercase;
	}

	p {
		margin: 0 0 0.71875em 0;
		font-size: 1em;
		color: #2c3e50;  }

	.quote {
		font-family: 'Karla', sans-serif;
		color : #1E749F;
		font-style: italic;
		font-size: 1.2em;
		}



	.corps {
		width: 80%;
	    margin: auto;
	}

	@media (min-width: 769px) {
	.corps {
	width: 50%;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 80px;
    }
}


	.corps2 {
		width: 80%;
	    margin: auto;
	}



	.back_color { 
		background-color: #EBBFF4;
		padding-bottom: 20px;
		padding-top: 40px;
	}



	.bgcv {
		border-left: 15px solid #81ecec;
	}


	.bgcv1 {
		border-left: 15px solid #227093;
	}


	.bgcv2 {
		border-left: 15px solid #ff7675;
	}


	.cover1 {
	background-image: url(../img/back_bubbles.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding : 2em;
	}

	@media (min-width: 769px) {
	.cover1 {
	background-image: url(../img/back_bubbles.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 15em;
	}
}

	.cover2 {
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 2em;
	}

@media (min-width: 769px) {
.cover2 {
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 15em;
	}
}


.i1c{
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
}



.intro, .intro_visuel{
	width: 80%;
	margin: auto;
}


@media (min-width: 769px) {
	.i1c{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
	}
	.intro{
	width: 50%;
	margin: 0 2rem 0 6rem;
	}

	.intro_visuel{
	width: 50%;
	margin: 0 6rem 0 2rem;
	}
}


	.i3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 15px;
	margin-left: 15px;
	}

@media (min-width: 769px) {
	.i3 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-right: 50px;
	margin-left: 50px;}
}

	.i5 {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-bottom: 30px;
	padding : 3em;
	border-radius :8px;
	border:1px solid #dfe6e9; }


@media (min-width: 769px) {
	.i5 {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-left: 30px;
 }
}


.i2 {
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media (min-width: 769px) {
	.i2 {
		flex-wrap: inherit;
 }



.element:nth-child(1) {
    flex: 1;
}

.element:nth-child(2) {
    flex: 1;

}


	.plm {
	padding-left: 15px;
	}

@media (min-width: 769px) {	

	.plm {
		padding-left: 80px;
	}
}


a {
	text-decoration: none;
}




	.bandeau {
		width: 100%;
		background-color: #273C75;
	}

	.item_bandeau{
		display: block;
		color: white;
		list-style: none;
		padding: 0;
		text-align:center;
	}

	.item h3 {
		color: white;
		font-size:1em;
		margin-bottom: 1em;
	}

	.item p {
		color: white;
		font-size:0.5em;
	}

	.line {
		display: none;
}


/* bandeau*/
/*---------------------------*/


@media (min-width: 769px) {	
.bandeau {
	width: 100%;
	background-color: #273C75;
	margin: 5% 0;
	padding: 3% 0
}


.item_bandeau {
	display: inline-flex;
	color: white;
	list-style: none;
	width: 100%;
	justify-content: space-evenly;
	padding: 0
}

.item h3 {
	color: white;
	font-size:1.5em;
	margin-bottom: 2em;
}

.item p {
	color: white;
	font-size:1em;
}

.line {
	width: 100%;
	height: 1em;
	position: relative;
    top: 80px;
}

}


/* footer*/
/*---------------------------*/

.copyright {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}





/* Forms */
/* -----------------------------------------------------
form ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
input,
label,
select {
    display: block;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 1em;
}

label {
    margin-bottom: .35938em;
    font-weight: 700;
    cursor: pointer;
}

label.required:after {
    content: " *";
}

textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select[multiple=multiple] {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: .71875em;
    padding: .625em;
    border: 1px solid #e8e8e9;
    border-radius: 0;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 1em;
    background-color: #fff;
    box-shadow: none;
    -webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

textarea:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="url"]:hover,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
select[multiple=multiple]:hover {
    border-color: #ceced0;
}

textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple=multiple]:focus {
    border-color: #D35F60;
    outline: none;
    box-shadow: 0 0 5px rgba(205,75,77,.7);
}

textarea {
    resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin-right: .71875em;
}

input[type="file"] {
    width: 100%;
    margin-bottom: .71875em;
    padding-bottom: .23958em;
}

select {
    width: auto;
    margin-bottom: .71875em;
    max-width: 100%;
}

fieldset {
    margin: 0 0 .71875em 0;
    padding: 1.4375em;
    border: 1px solid #e8e8e9;
    border-radius: 0;
    background: #fafafa;
}

::-webkit-input-placeholder {
    color: #c8c9ca;
}

:-moz-placeholder {
    color: #c8c9ca;
}

::-moz-placeholder {
    color: #c8c9ca;
}

:-ms-input-placeholder {
    color: #c8c9ca;
}
input[id="text_field"] {
    display: inline-block;
    width: 70%;
}
label[for="text_field"] {
    display: inline-block;
    width: 15%;
}*/


